---
const year = new Date().getFullYear();
---

<footer class="footer">
  <div id="copyright-text">
    <p>
      &copy; {year} We Care Insurance Inc. All rights reserved.
    </p>
  </div>
</footer>

<style>
  .footer {
    text-align: center;
  }
</style>