<div class="container-fluid vh-100 d-flex flex-column align-items-center bg-light">
    <header class="d-flex justify-content-between align-items-center w-100 p-3">
      <div class="logo">
        <h1 class="h5">Insurmate</h1>
      </div>
      <nav>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              Product
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Team
            </a>
          </li>
          <li class="nav-item">
            <!-- Use a standard <a> tag for navigation -->
            <a class="nav-link" href="/login">
              Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-primary" href="#">
              Contact us
            </a>
          </li>
        </ul>
      </nav>
    </header>
  
    <main class="d-flex flex-column justify-content-center align-items-center flex-grow-1">
      <h2 class="display-5 text-center mb-5">Something about product</h2>
    </main>
  </div>
  