---
import ActivateAccount from "../components/Activation.jsx";
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.css";
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Activate Account</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
</head>
<body>
  <ActivateAccount client:load/>
</body>
</html>