---
import Dash from "../components/Dashboard.jsx";
import NavBar from "../components/NavBar.astro";
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.css";
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <title>Dashboard</title>
</head>
<body>
  <NavBar />
  <Dash client:load/>
</body>
</html>